<!DOCTYPE html>
<html>
  <head>
    <title>Omnivore | Index</title>
  </head>
  <body>
    <p>Hi, I'm omnivore your friendly feed cache server.</p>
    <p>To request a feed hit <strong>/feed/{feed_url}</strong></p>
  </body>
</html>